body{
    background-image: url("college.jpg");
    background-size: cover;
    font-weight:bold;
    text-align:center;
}
.H1{
    font-size:70px;
    margin-top:30px;
    margin-bottom: 40px;
}
h2{
    font-size:60px;
    margin-bottom: 20px;
}
#inc{
    background-color:darkgreen;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:20px;
}
#dec{
    background-color:brown;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:20px;
}

